* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  background-color: rgba(0, 0, 0, 0.66);
  width: 800px;
  /* position: absolute;*/
  /*transform: translate(-50%, -50%);*/
  /* top: 100px; */
  /*left: 50%; */

  margin: 0 auto;
  border-radius: 10px;
  border: 2.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 50px rgba(8, 7, 16, 0.5);
  padding: 50px 40px;
}

::placeholder {
  color: #202020;
  font-size: medium;
}

form * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  border: none;
}
form h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
form h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 32px;
  text-align: center;
}
form ul {
  padding: 6px 0;
  text-align: center;
}
label {
  display: block;
  margin-top: 15px;
  margin-bottom: 26px;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 20px;
  text-align: right;
}
input {
  display: block;
  height: 40px;
  width: 100%;
  background-color: rgba(199, 199, 199, 0.603);
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 0 7px;
  margin-bottom: 9px;
  margin-top: 9px;
  font-weight: 300;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.formbutton {
  margin-top: 50px;
  width: 100%;
  border: none;
  background-color: #ffffff;
  color: #080710;
  /* padding: 15px 0; */
  font-size: 20px;
  font-weight: 800;
  border-radius: 6px;
  cursor: pointer;
}

form .buttonsupdate .formbutton {
  width: 46%;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.formtext {
  flex: 15%;
  background-color: transparent;
  padding: 10px;
}
.userinput {
  flex: 55%;
  background-color: transparent;
  padding: 10px;
}

.userinput textarea {
  display: block;
  width: 100%;
  height: 80px;
  background-color: rgba(199, 199, 199, 0.603);
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 0 7px;
  color: #ddd;
  margin-bottom: 9px;
  margin-top: 9px;
  font-weight: 300;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.formtext input {
  height: 30px;
  margin-bottom: 15px;
}

#update form {
  width: 700px;
  background: rgba(0, 0, 0, 1);
}

#update{
  display:none;
}


@media screen and (min-height: 800px) {
  form {
    position: relative;
    top: 200px;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
  }
}
