#update input{
    display:inline;
    height:auto;
    border:2px black solid;
    width:auto;
    
}

#update{
    color:red;
    display:none;
}

textarea{
    color:black;
}

#remarks{
    overflow: auto;
}

